<% layout("/layouts/boilerplate") %>

    <body>
        
        <div style="text-align: center;">
            <h1 >Welcome to WanderLust!</h1>
            <h3>Anywhere!</h3>
            <h3>Any week!</h3>
            <h3>Any time!</h3>
        </div>

    </body>

    </html>